/* $gradiente: linear-gradient(to right, rgb(197, 197, 197),white); */
header {
  width: 100%;
  height: auto;
  border-bottom: 0.3rem solid #ffc021c4;
}

header .bg-light, header .dropdown-menu {
  background-image: -webkit-gradient(linear, left top, right top, from(#ffb700bd), color-stop(#ffc0219b), to(white));
  background-image: linear-gradient(to right, #ffb700bd, #ffc0219b, white);
}

header .navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .logo {
  width: 50%;
  height: auto;
  padding: 1rem;
  margin-left: 1rem;
}

header .nav-link {
  font-size: 1.4rem;
  font-weight: 600;
}

/* nav {
    flex-grow: 1    ;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    .menu {
        flex-wrap: nowrap;
        display: flex;
        align-items: stretch;
        > li {
            position: relative;
        }
        li {
            .submenu {
                display: none;
                position: absolute;
                }
        }
        } // cierra .menu
        .nav-link {
                color:black ;
                font-size: 0.7rem;
                padding: 0.2rem 1rem ;
                display: block;
                font-weight: bolder;
                letter-spacing: 2px;
                text-decoration: none;
                }
        .nav-link:hover {
                    background:  rgba(129, 129, 126, 0.616);
                    color: white; 
                }
        }
        
    

li:hover {
        .submenu {
            display: block;
        }
    }


//      FIN NAV      //  */
footer {
  background-image: -webkit-gradient(linear, left top, right top, from(#464444), to(#b6b6b6));
  background-image: linear-gradient(to right, #464444, #b6b6b6);
  height: auto;
  max-height: 50rem;
  text-decoration: none;
}

footer h4 {
  text-align: center;
  font-weight: bolder;
  -webkit-text-decoration: solid;
          text-decoration: solid;
  letter-spacing: 0.4rem;
}

footer .pie__de__pagina {
  padding: 1.5rem;
  width: 100%;
  height: 100%;
  list-style: none;
  color: white;
  list-style-type: none;
  max-height: 100%;
}

footer .pie__de__pagina .negro {
  color: black;
  font-weight: bold;
}

footer .pie__de__pagina li {
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5rem;
}

footer .pie__de__pagina li ul > li {
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .fondo__servicios {
    background-image: url("../imagenes/banners/servicios.jpg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    min-height: 15rem;
    max-height: 25rem;
    margin-right: 3rem;
    padding: 10rem;
  }
  .fondo__clientes {
    background-image: url("../imagenes/banners/clientes.jpg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    min-height: 15rem;
    max-height: 25rem;
    margin-right: 3rem;
    padding: 10rem;
  }
  .fondo__contacto {
    background-image: url("../imagenes/banners/contacto.jpg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    min-height: 15rem;
    max-height: 25rem;
    margin-right: 3rem;
    padding: 10rem;
  }
  .fondo__books {
    background-image: url("../imagenes/banners/books.jpg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    min-height: 15rem;
    max-height: 25rem;
    margin-right: 3rem;
    padding: 10rem;
  }
  .collapse:not(.show) {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .contenedor__carousel {
    width: 100vw;
    margin: 0.5rem 0rem;
  }
  .titulo {
    border-radius: 0%;
  }
  .titulo h1 {
    font-size: 4.5rem;
  }
  .titulo p {
    font-size: 3rem;
  }
  .sectionTarjetas {
    height: 70vh;
  }
  .tarjetas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 10rem;
  }
  .tarjetas .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2rem;
    min-width: 16rem;
    max-width: 20rem;
  }
  .tarjetas .card-img-top {
    width: 80%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .sobrenos h4 {
    font-size: 2rem;
  }
  .sobrenos p {
    font-size: 1.5rem;
  }
  form {
    width: 60%;
    font-size: 2rem;
  }
  #section__mapa {
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 5rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #section__mapa .mapa {
    margin-top: 10rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #section__mapa .mapa iframe {
    padding: 10px;
    width: 50rem;
    height: 50rem;
  }
  #section__mapa .cartel {
    margin-top: 5rem;
    font-size: 2rem;
  }
  .contenedor_ {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 3rem 3rem;
    max-width: 100vw;
    height: 35rem;
  }
  .contenedor_ .bloque {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 3rem;
    width: 50%;
    max-width: 50rem;
    height: 100%;
    border-radius: 1rem;
    margin: 2rem;
  }
  .contenedor_ h3 {
    font-size: 3.2rem;
    font-weight: bolder;
  }
  .contenedor_ p {
    font-size: 2.6rem;
  }
  .contenedor_ .izquierda {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: #ffc021;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .contenedor_ .derecha {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #2eec8d;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .contenedor_ .derecha img {
    max-height: 95%;
  }
  .contenedor_ .boton_cotizar {
    font-size: 2rem;
    background-color: #ff7221;
    border-radius: 1.8rem;
    -webkit-box-shadow: 0.8rem 0.8rem rgba(43, 42, 42, 0.774);
            box-shadow: 0.8rem 0.8rem rgba(43, 42, 42, 0.774);
  }
  .contenedor_ .boton_cotizar a {
    padding: 1rem;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: 0.1rem;
  }
  .grilla__ejemplos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[1];
        grid-template-rows: repeat(1, 1fr);
    gap: 25px;
    margin-left: 10px;
    margin-right: 10px;
    padding: auto;
    max-width: 95vw;
  }
  .contenedor__grilla {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 4rem 4rem;
  }
  .boton__volver {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .atajos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media only screen and (max-width: 767px) {
  .contenedor_ {
    display: none;
  }
  .tarjetas {
    width: 50%;
    margin: 1rem auto;
  }
  .tarjetas .card, .tarjetas .card-body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0.2rem;
    text-align: center;
    margin: 2rem 1rem;
  }
  .tarjetas .card-text {
    font-size: 1.2rem;
  }
  .titulo {
    border-radius: 0%;
  }
  .titulo h1 {
    font-size: 2.5rem;
  }
  .titulo p {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 992px) {
  header .logo {
    width: 85%;
    height: auto;
    padding: 1rem;
    margin-left: 3rem;
  }
}

* {
  margin: 0;
  padding: 0;
  padding-left: 0;
  font-family: 'DM Sans', sans-serif;
  text-decoration: none;
  list-style-type: none;
}

html {
  font-size: 62.5%;
}

ol {
  padding-left: 0rem;
  margin-bottom: 0rem;
}

ul {
  padding: 0px;
}

.nav-link {
  text-decoration: none;
  color: white;
  padding: 0.2rem;
}

body {
  background-color: rgba(253, 253, 253, 0.883);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main > div.contenedor__carousel {
  margin-top: 8vh;
  margin-bottom: 8vh;
}

/*  TITULO */
.titulo {
  color: black;
  background-color: rgba(158, 155, 155, 0.096);
  font-weight: normal;
  font-size: 3rem;
  margin-top: 0.3rem;
  width: 100vw;
  text-align: center;
  -webkit-box-shadow: 0rem 0.8rem rgba(43, 42, 42, 0.774);
          box-shadow: 0rem 0.8rem rgba(43, 42, 42, 0.774);
}

section .mapa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 1 rem;
}

section div iframe {
  margin: 2rem auto;
  padding: 1rem 1rem;
  width: 250px;
  height: 250px;
}

.cartel {
  padding: 2rem 2rem;
  margin: 3rem;
  letter-spacing: 1.5rem;
  text-align: center;
  font-size: 2rem;
  background-color: rgba(158, 155, 155, 0.096);
  border-radius: 2rem;
  -webkit-box-shadow: 0.8rem 0.8rem rgba(43, 42, 42, 0.774);
          box-shadow: 0.8rem 0.8rem rgba(43, 42, 42, 0.774);
}

.contenedor {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.centrado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  font-size: 1.5rem;
}

.boton__volver {
  padding: 2rem;
}

p.cursiva {
  font-size: 1.3rem;
}

.contenedor__grilla {
  padding: 3vh;
}

.contenedor__grilla .ejemplo {
  text-align: center;
}

.contenedor__grilla .ejemplo img {
  width: 100%;
  padding: 5%;
}

.contenedor__grilla .ejemplo h4 {
  padding-top: 2vh;
}

.cursiva {
  font-style: italic;
}

form {
  margin: 0.5rem;
  padding: 2rem;
  border: 0.2rem dashed black;
}

form label {
  padding: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-weight: bold;
}

form input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

form textarea {
  width: 100%;
}

form .informacion {
  width: 60%;
}

form .boton-form {
  margin: 1rem;
  font-weight: bold;
}

.negrita {
  font-weight: bold;
}

.sobrenos {
  width: 90%;
  max-width: 600px;
  margin: 4rem;
  padding: 2rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.014);
  -webkit-box-shadow: 0.3rem 0.3rem rgba(0, 0, 0, 0.301);
          box-shadow: 0.3rem 0.3rem rgba(0, 0, 0, 0.301);
}

.sobrenos h4 {
  font-weight: bolder;
}
/*# sourceMappingURL=styles.css.map */