header {
  background-image: -webkit-gradient(linear, left top, right top, from(#c5c5c5), to(white));
  background-image: linear-gradient(to right, #c5c5c5, white);
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.3rem solid rgba(167, 163, 163, 0.637);
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 50%;
  -webkit-transform: translate(1.5rem);
          transform: translate(1.5rem);
}

header .logo img {
  width: 80%;
  max-width: 18rem;
  height: auto;
  padding: 1rem;
}

nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

nav .menu {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

nav .menu > li {
  position: relative;
}

nav .menu li .submenu {
  display: none;
  position: absolute;
}

nav .menu > li:hover > .submenu {
  display: block;
}

nav .nav-link {
  color: black;
  font-size: 0.7rem;
  padding: 0.2rem 1rem;
  display: block;
  font-weight: bolder;
  letter-spacing: 2px;
  text-decoration: none;
}

nav .nav-link:hover {
  background: rgba(129, 129, 126, 0.616);
  color: white;
}

li:hover .submenu {
  display: block;
}

/* .menu__principal {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        
    ul li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }            
        a {
            color: black;
            font-size: 9px;
            padding: 1px 15px;
            display: block;
            font-weight: bolder;
            letter-spacing: 1px;
            text-decoration: none;
            }
        }

.nav {
    display: flex;
    justify-content: space-between;
    .nav-link {
        color: black;
        padding: 4px 4px;
    }
    .nav-link:hover {
        background:  rgba(129, 129, 126, 0.616);
        color: white; 
    }
} */
/* .menu__principal  {
    li {
        .sub__menu {
            display: none;
            position: absolute;
            top: 20px;
            right:30px;
        }
    }
}
 */
/* li:hover {                           
        .sub__menu {
            display: block;
            }
        }
 */
footer {
  background-color: black;
  min-height: 200px;
  text-decoration: none;
}

footer .pie ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3vw;
  margin: 10px;
  list-style: none;
  color: white;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pie__de__pagina li {
  padding: 15px;
  font-size: 20px;
}

@media only screen and (min-width: 768px) {
  header nav .logo img {
    max-width: 18rem;
  }
  header nav .menu a {
    margin-right: auto;
    font-size: 1.4rem;
  }
  .main__index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 30px;
  }
  .banner {
    min-height: 500px;
    width: 100%;
    border-right: 5px solid rgba(0, 0, 0, 0.63);
    border-bottom: 5px solid rgba(0, 0, 0, 0.63);
    border-radius: 50%;
  }
  #section__mapa {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 5%;
    margin-left: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #section__mapa h3 {
    font-size: 40px;
  }
  section div iframe {
    margin: 95px;
    padding: 10px;
    width: 500px;
    height: 500px;
  }
  #grilla {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "1 1 1" "2 3 3" "4 4 4";
    -ms-grid-rows: 20% 20% 60%;
        grid-template-rows: 20% 20% 60%;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  #grilla .header__grilla {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: 1;
  }
  #grilla .main__grilla {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: 2;
  }
  #grilla .section__grilla {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: 3;
  }
  #grilla .footer__grilla {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: 4;
  }
  .grilla__ejemplos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    gap: 25px;
    margin-left: 10px;
    margin-right: 10px;
    padding: auto;
    max-width: 95vw;
  }
  .contenedor__ejemplos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 15vh;
  }
  .foto__chica {
    max-height: 40vh;
  }
  .contenedor__carousel {
    width: 95vh;
  }
  .tarjetas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 3rem;
    height: 30rem;
  }
  .tarjetas .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2rem;
  }
}

.fondo__servicios {
  background-image: url("../imagenes/banners/servicios.jpg");
  background-size: cover;
  width: 100vw;
  height: 125px;
}

.fondo__clientes {
  background-image: url("../imagenes/banners/clientes.jpg");
  background-size: cover;
  width: 100vw;
  height: 125px;
}

.fondo__contacto {
  background-image: url("../imagenes/banners/contacto.jpg");
  background-size: cover;
  width: 100vw;
  height: 125px;
}

.fondo__books {
  background-image: url("../imagenes/banners/books.jpg");
  background-size: cover;
  width: 100vw;
  height: 125px;
}

* {
  margin: 0;
  padding: 0;
  padding-left: 0;
  font-family: 'DM Sans', sans-serif;
  text-decoration: none;
  list-style-type: none;
}

html {
  font-size: 62.5%;
}

ul {
  padding: 0px;
}

body {
  background-color: rgba(253, 253, 253, 0.883);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main > div.contenedor__carousel {
  margin-top: 8vh;
}

.banner {
  color: white;
  background-image: url(/imagenes/fondo.jpg);
  font-style: italic;
  text-align: center;
  letter-spacing: 4px;
  font-weight: bolder;
  min-height: 120px;
  padding-top: auto;
  background-size: cover;
  background-repeat: no-repeat;
}

/*  TITULO Y SUBTITULO */
.titulo {
  color: white;
  background-color: rgba(0, 0, 0, 0.212);
  font-weight: normal;
  font-size: 3rem;
  margin-top: 5%;
  padding: 1rem 1rem;
  text-align: center;
}

.subtitulo {
  color: white;
  background-color: rgba(0, 0, 0, 0.212);
  font-weight: normal;
  width: 100vw;
  font-size: 1.3rem;
  text-align: center;
}

section .mapa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 1 rem;
}

section div iframe {
  margin: 2rem auto;
  padding: 1rem 1rem;
  width: 250px;
  height: 250px;
}

section h3 {
  padding: 2rem 2rem;
  margin: 3rem;
  letter-spacing: 1.5rem;
  text-align: center;
  font-size: 2rem;
  background-color: rgba(158, 155, 155, 0.096);
  border-radius: 2rem;
  -webkit-box-shadow: 0.8rem 0.8rem rgba(43, 42, 42, 0.774);
          box-shadow: 0.8rem 0.8rem rgba(43, 42, 42, 0.774);
}

.contenedor {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.centrado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10%;
}

.contenedor__grilla {
  padding: 3vh;
}

.contenedor__grilla .ejemplo {
  text-align: center;
}

.contenedor__grilla .ejemplo img {
  width: 100%;
  padding: 5%;
}

.contenedor__grilla .ejemplo h4 {
  padding-top: 2vh;
}

.cursiva {
  font-style: italic;
}

.tarjetas {
  width: 50%;
  margin: 1rem auto;
}

.tarjetas .card, .tarjetas .card-body {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  text-align: center;
}
/*# sourceMappingURL=styles.css.map */