

// FOOTER //


footer {
    background-color: black;
    min-height: 200px;
    text-decoration: none;
}

footer {
        .pie {
            ol { 
                display: flex;
                padding: 3vw;
                margin: 10px;
                list-style: none;
                color: white;
                list-style-type: none;
                justify-content: space-between;
                
            }
        }
    }
.pie__de__pagina {
                li {
                padding: 15px;
                font-size: 20px;
                }
            }
