

// FOOTER //


footer {
    background-image: linear-gradient(to right,#464444 ,rgb(182, 182, 182));
    height: auto ;
    max-height: 50rem;
    text-decoration: none;
    h4 {
        text-align: center;
        font-weight: bolder;
        text-decoration:solid;
        letter-spacing: 0.4rem;
    }
        .pie__de__pagina { 
            padding: 1.5rem;
            width: 100%;
            height: 100%;
            list-style: none;
            color: white;
            list-style-type: none;
            max-height: 100%;
            .negro {
                color: black;
                font-weight: bold;
            }
            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 0.5rem;
                ul>li {
                    padding: 0;
                    }
                }
            }
            
        }



// ICONOS //
