//      Variables       //
$gradiente: linear-gradient(to right,#ffb700bd ,#ffc0218f,white);
/* $gradiente: linear-gradient(to right, rgb(197, 197, 197),white); */


//            MIXINS       // 

@mixin header {
    width: 100%;
    height: auto;
    border-bottom: 0.3rem solid #ffc021c4;
}

//       FIN MIXINS         // 


//      HEADER      // 

header { 
    @include header;
    .bg-light,.dropdown-menu {
        background-image: $gradiente;
    }
    .navbar-collapse {
        justify-content: flex-end;
    }
    .logo {
        width: 60%;
        max-width: 15rem;
        height: auto;
        padding: 1rem;
                }
        }
        
    


//          NAV         // 

/* nav {
    flex-grow: 1    ;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    .menu {
        flex-wrap: nowrap;
        display: flex;
        align-items: stretch;
        > li {
            position: relative;
        }
        li {
            .submenu {
                display: none;
                position: absolute;
                }
        }
        } // cierra .menu
        .nav-link {
                color:black ;
                font-size: 0.7rem;
                padding: 0.2rem 1rem ;
                display: block;
                font-weight: bolder;
                letter-spacing: 2px;
                text-decoration: none;
                }
        .nav-link:hover {
                    background:  rgba(129, 129, 126, 0.616);
                    color: white; 
                }
        }
        
    

li:hover {
        .submenu {
            display: block;
        }
    }


//      FIN NAV      //  */