// IMPORTACIONES ARCHIVOS SCSS y SASS //


@import "header" ; 
@import "footer" ; 
@import "queries"; 

//        NORMALIZACION HTML             //


* { 
    margin: 0;
	padding: 0;
    padding-left: 0;
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    list-style-type: none;
}
//    Etiquetas globales //
html {
    font-size: 62.5%; 
}

ul {
    padding: 0px;
}
.nav-link {
    text-decoration: none;
    color: white;
    padding: 0.2rem;
}


//             BODY            //

body { 
    background-color: rgba(253, 253, 253, 0.883);
    display: flex;
    flex-direction: column;
}



//    MAIN INDEX.HTML - CAROUSEL -          //


main > div.contenedor__carousel {
    margin-top: 8vh;
    margin-bottom: 8vh;
}



/*  TITULO */


$color__texto__banners: black ;
$color_fondo_texto_banners: rgba(158, 155, 155, 0.096); 

.titulo{
    color: $color__texto__banners;
    background-color: $color_fondo_texto_banners;
    font-weight: normal;
    font-size: 3rem;
    margin-top: 0.3rem;
    width: 100vw;
    text-align: center;
    box-shadow: 0.0rem 0.8rem rgba(43, 42, 42, 0.774);
    h1 {
        font-size: 2.5rem;
    }
    p {
        font-size: 1.4rem;
    }
}

// FIN TITULO//




// SECTION MAPA //

section {
    .mapa {
        display: flex;
        align-items: center;
        justify-content: center; 
        padding: 1rem 1 rem;
    }
    div {
        iframe {
                margin: 2rem auto;
                padding: 1rem 1rem;
                width: 250px ;
                height: 250px;
            }
        } 
}

.cartel   {
    padding: 2rem 2rem;
    margin: 3rem;
    letter-spacing: 1.5rem;
    text-align: center;
    font-size: 2rem;
    background-color: rgba(158, 155, 155, 0.096);
    border-radius: 2rem;
    box-shadow: 0.8rem 0.8rem rgba(43, 42, 42, 0.774);
    }
// FIN SECTION MAPA //

//  CONTENEDOR //

.contenedor {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}




// CENTRADO //

.centrado {
        display: flex;
        align-items: center;
        justify-content: center;
}

// servicios html  // 
.btn {
        font-size: 1.5rem;
    }
.boton__volver {
    padding: 2rem;
}
p.cursiva {
    font-size: 1.3rem;
}

//        GRIDS SERVICIOS,BRANDING,BOOKS Y REDES    // 

.contenedor__grilla {
                padding: 3vh;
                .ejemplo {
                        text-align: center;
                        img { 
                            width: 100%;
                            padding: 5%;
                        }
                        h4 {
                            padding-top: 2vh;
                        }
                    }
                }

.cursiva { 
        font-style: italic;
}
// FIN GRIDS // 



//  Inicio    CLIENTES.HTML         //


// TARJETAS  //

.tarjetas { 
    width: 50%;
    margin: 1rem auto;
    .card , .card-body {
        justify-content: center;
        padding: 1rem;
        text-align: center;
    }
}

//  Fin    CLIENTES.HTML         //

// Inicio Contacto.html //


form {
    margin: 0.5rem;
    padding: 2rem;
    border: 0.2rem dashed $color__texto__banners;
    label { 
    padding: 0.3rem;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    }
    input {
        display: flex;
        justify-content: flex-start;
    }
    textarea {
        width: 100%;
    }
    .informacion {
        width: 60%;
    }
    .boton-form {
        margin: 1rem;
        font-weight: bold;
    }
}

.negrita {
    font-weight: bold;
}

.sobrenos {
    width: 90%;
    max-width: 600px;
    margin: 4rem;
    padding: 2rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.014);
    box-shadow: 0.3rem 0.3rem rgba(0, 0, 0, 0.301);
    h4 {
        font-weight: bolder;
    }
}